#head-container {
    margin-top: 1%;
}

body {
    background-image: url("../images/chalkboard.jpg");
}

#head {
    background-image: url("../images/a047f3e3b6063580970bad1e80ef4a59--subway-signs-subway-art.jpg");
    background-repeat: no-repeat;
    text-align: right;
    background-color: darkblue;  
    color: white;
    padding: 2%;
}

.panel-custom {
    background-color: darkblue;
    color: white;
}

table {
    margin: 0 auto;
}

th {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
}

hr {
    margin: 1%;
}

td {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
}
 
.glyphicon-remove {
    color: darkred;
    padding-left: 15%;
}

