#head-container {
    margin-top: 1%;
}

#head {
    background-image: url("../images/a047f3e3b6063580970bad1e80ef4a59--subway-signs-subway-art.jpg");
    background-repeat: no-repeat;
<<<<<<< HEAD
    background-size: auto;
=======
>>>>>>> 919e79f5e419ea88c08ff2f26ce54b0f4287f369
    text-align: right;
    background-color: darkblue;  
    color: white;
    padding: 2%;
}

.panel-custom {
    background-color: darkblue;
    color: white;
}

table {
    margin: 0 auto;
}

th {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
}

hr {
    margin: 1%;
}

td {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
}

<<<<<<< HEAD
=======
h1  {
    width: 5%;
    padding-bottom: 1%; 
} 

>>>>>>> 919e79f5e419ea88c08ff2f26ce54b0f4287f369
.glyphicon-remove {
    color: darkred;
    padding-left: 15%;
}

